.app__skills {
  margin-bottom: 1000px;
  border-width: 2px;
  border-color: black;
}

.app__skills .test {
  width: 100%;
  height: 100px;
  margin: 10px;
}

.app__skills .test .skill {
  font-size: 16;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 600;
  /* background-color: gray; */
}

.app__skills .test .skill .score {
  width: 0%;
  height: 6px;
  background-color: red;
  margin-top: 10px;
  border-radius: 3px;
  position: relative;
  animation: scoreAnim 2s ease-in-out forwards;
}

@keyframes scoreAnim {
  0% {
    /* opacity: 0; */
    /* transform: translateY(100%); */
    width: 0%;

  }

  80% {
    /* opacity: 0; */
    /* transform: translateY(100%); */
    width: 90%;

  }

  100% {
    /* opacity: 1; */
    /* transform: translateY(0); */
    width: 75%;

  }
}

.app__skills .test .skill .score::after {
  position: absolute;
  background-color: red;
  right: 0;
  width: 8px;
  height: 8px;
  top: -1px;
  content: "";
  border-radius: 50%;
}

.app__skills .test .skill .score span {
  position: absolute;
  top: -22px;
  right: 0;
}
